pip
{% if cookiecutter.build.lower() == "y" %}
wheel
twine
{%- endif %}

{% if cookiecutter.flake8 %}flake8{% endif %}
{% if cookiecutter.black.lower() == "y" %}black{% endif %}
{% if cookiecutter.isort.lower() == "y" -%}
isort
seed-isort-config
{%- endif %}
{% if cookiecutter.bumpversion.lower() == "y" %}bumpversion{% endif %}

{% if cookiecutter.sphinx.lower() == "y" -%}
sphinx
{%- endif %}

{% if cookiecutter.test.lower() == "y" -%}
tox
coverage
pytest
pytest-cov
pytest-randomly
{%- endif %}

